#whatsbuddy-tools-container {
  width: 100%;
  height: auto;
}

.whatsbuddy-macros-button {
  border: 0;
  border-radius: 0.25rem;
  background: #1E88E5;
  color: white;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}
